@font-face {
    font-family: customfont;
    src: url("Kingofthieves-v6mL.ttf");
}
h1 {
    font-family: customfont, sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    color:white;
    background-color:#383A54;
}
/* 
.VirtualSelectGrid {
    z-index: 1;
    min-height: 300px !important;
  }

.Select-menu-outer {
    min-height: 298px !important;
}

.Select-menu {
    min-height: 300px !important;
}
 */
